/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Sumit Paul
 */

body {
	background-color: #093148;
	background-image: url('../images/bg.jpg');
}

#container {
	width: 960px;
	margin: 0px auto 20px auto;
}

h3 {
	display: inline;
	font-size: 1.2em;
	font-weight: normal;
	color: #666666;
}

nav #logo {
	float: left;
	background-image: url('../images/logo.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	width: 65px;
	height: 65px;
	z-index: 9998;
}

nav #logo:hover {
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #ff6600;
}

nav #logo:active {
	position: relative;
	top: 2px;
}

nav ul {
	float: right;
	color: #dddddd;
	margin-bottom: 30px;
	padding-right: 30px;
}

nav li {
	display: inline-block;
	list-style-type: none;
	padding-top: 40px;
	margin-left: 20px;
	font-size: 1.2em;
	zoom: 1; /*ie7 hack*/
	*display:inline; /*ie7 hack*/
}

nav a {
	text-decoration: none;
	color: #cccccc;
	border-width: 0px;
}

#current-page {color: #ffffff;}

nav a:visited {color: #cccccc;}
nav a:hover {color: #ea7526;}
nav a:active {position: relative; top: 1px;}

#main {
	background-color: #ffffff;
	-moz-box-shadow: 3px 3px 4px #222;
	-webkit-box-shadow: 3px 3px 4px #222;
	box-shadow: 3px 3px 4px #222;
	clear: both;
}

#my-pitch { position: relative; }



/* Contact and About Page Styles
******************************************/

div.quote {
	text-align: center;
	padding: 10px 0px 3px 0px;
	color: #ffffff;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
	font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2","Helvetica",sans-serif;
	font-weight: bold;
}

.quote a { font-weight: normal; }
.quote a:hover { color: #000 !important; text-shadow: none !important;}

.portfolio div.quote {
	position: relative;
	float: left;
	width: 860px;
	padding-bottom: 13px;
}

#about {
	position: relative;
	width: 960px;
	height: 500px;
	background-color: #666666;
	background-image: url('../images/sumit.jpg');
}

#contact {
	position: relative;
	width: 960px;
	height: 500px;
	background-color: #666666;
	background-image: url('../images/location3.jpg');
}

#card {
	width: 350px;
	height: 260px;
	position: absolute;
	right: 30px;
	top: 50px;
	z-index: 9997;
	padding: 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px #444;
	-webkit-box-shadow: 1px 1px 2px #444;
	box-shadow: 1px 1px 2px #444;
	background-color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

#contact #card {height: 260px;}
#card ul {margin: 0px; padding: 0px;}

#card li {
	padding: 10px 5px 10px 5px;
	list-style-type: none;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #dddddd;
	color: #000000;
}

#card p {font-size: 1.3em;}
#card p em {color: #666666;}
#card h2 {color: #ea7526; padding-bottom: 2px;}
#card a {text-decoration: none; color: #000000;}
#card a:hover {color: #0281a5;}



/* Portfolio Page Styles
******************************************/

div.prev {
	position: relative;
	float: left;
	width: 50px;
	padding-top: 12px;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

div.next {
	position: relative;
	float: left;
	width: 50px;
	padding-top: 12px;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

#work {
	position: relative;
	clear:both;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
}

#work-images { background-color: #333; height: 540px; overflow: hidden; }
#work-images img { width: 960px; height: 540px; top: 0px; left: 0px; }
#work-images a { text-decoration: none; }

#sixteenByTen { background-color: #333; height: 600px; overflow: hidden; }
#sixteenByTen img { width: 960px; height: 600px; top: 0px; left: 0px; }
#sixteenByTen a { text-decoration: none; }

iframe.small-video {
	margin-left: 146px;
	margin-top: 20px;
	-moz-box-shadow: 1px 1px 1px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
}

ul.work-details {
	margin: 17px 10px 0px 30px;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding: 10px 15px 20px 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

.work-details li {
	list-style-type: none;
	padding-top: 12px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #666666;
	font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2","Helvetica",sans-serif;
}

.work-details span.span_left {
	color: #666666;
	position: relative;
	*float: left;
}

.work-details span.span_right {
	color: #0281a5;
	position: relative;
	float: right;
}

.leftcol p { padding: 10px 20px 20px 30px; }
li.tweet { border-bottom-width: 0px; }


/* 
******************************************/
#info-bar { 
	position: relative;
	background: #ea7526;
	border-style: solid;
	border-color: #ce6824;
	border-bottom-width: 2px;
	border-top-width: 2px;
	clear: both;
	overflow: hidden;
	padding: 10px 0px 30px 0px;
}

#info-bar h2 {
	color: #ffffff;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 3em;
}

#info-bar h3 {
	color: #000000;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 2em;
}

#info-bar p {
	color: #222222;
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 0px 30px 20px 0px;
}

#capabilities p {font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;}

#slide-pager {
	position: absolute;
	right: 50px;
	bottom: 35px;
	z-index: 9997;
	background: #000000;
	padding: 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	display:none;
}

#slide-pager a { color: #ffffff; text-decoration: none; margin: 0 5px; padding: 3px 5px; }
#slide-pager a.activeSlide { padding: 8px; background: #ff6600; vertical-align: middle;}
#slide-pager a:hover { color: #ffd772; }
#slide-pager a:focus { outline: none; }

#slideshow { background-color: #9a8d84; height: 600px; overflow: hidden; }
#slideshow img { width: 960px; height: 600px; top: 0px; left: 0px; }
#slideshow a { text-decoration: none; }

#primary {
	background-color: #ea7526;
	overflow: hidden;
	clear: both;
	border-style: solid;
	border-color: #ce6824;
	border-top-width: 2px;
	border-bottom-width: 2px;	
}

#primary a { text-decoration: none; }

#prime {
	background-color: #ea7526;
	overflow: hidden;
	clear: both;
	border-style: solid;
	border-color: #ce6824;
	border-top-width: 2px;
	border-bottom-width: 2px;	
}

#prime a { text-decoration: none; color: #ffffff;}

#prime a:hover {
	text-shadow: 0px 0px 0px #000000;
}

#icons {padding-top: 40px;}

#icons a {
	display: inline-block;
	padding-left: 94px;
	list-style-type: none;
	font-size: 1.3em;
	text-decoration: none;
	color: #ffffff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	zoom: 1; /*ie7 hack*/
	*display:inline; /*ie7 hack*/
}

div#icons.resume a{padding-left: 106px;}
div#icons.resume p{padding-left: 20px;}

#icons p {
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
}

#icons img:hover {	
	position: relative; 
	bottom: 7px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;	
}

#welcome { margin-top: 20px; margin-bottom: 35px; }

#welcome h1 { 
	font-size: 1.6em;
	margin-bottom: 25px;
	line-height: 1.45em;
	color: #f5f5f5;
	font-weight: normal;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	-webkit-font-smoothing: antialiased;
}

#quote p {
	color: #129dc4;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
	font-weight: normal;
	font-size: 1.8em;
	line-height: 1.5;
	margin: 10px 0px 45px 0px;
	padding-right: 90px;
}

div.button-class {
	padding: 15px;
	margin: 0px 40px 0px 0px;
	background-color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-box-shadow: 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 1px #333;
	box-shadow: 1px 1px 1px #333;	
}

.button-class p {	
	padding: 13px 0px 13px 20px;
	margin-left: 15px;
	display: inline;
	font-size: 1.2em;
	font-weight: normal;
	color: #000000;
	border-color: #999999;
	border-style: solid;
	border-left-width: 1px;
}

div.button-class:hover {
	background-color: #fffee8;
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}

div.button-class:active {position: relative; top: 2px;}

#gallery {
	clear:both;
	overflow: auto;
	margin: 11px;
	padding: 15px 0px 0px 0px;
}

#gallery a {
	display: inline-block;
	text-decoration: none;
	zoom: 1; /*ie7 hack*/
	*display:inline; /*ie7 hack*/
}

#gallery a:visited {
	background-image: url('../images/check.png');
	background-repeat: no-repeat;
	background-position: 98% 89%;
}

div.thumbnails {
	margin: 5px;
	height: 250px;
	cursor: pointer;
}

.thumbnails h4 {
	margin-top: 5px;
	margin-left: 2px;
	color: #ff6600;
	-webkit-font-smoothing: antialiased;
}

.thumbnails img {
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	opacity: 1;
}

.thumbnails img:hover {
	border-style: solid;
	border-color: #aaaaaa;
	border-width: 1px;
	opacity: 0.9;
}

.thumbnails img:active {position: relative; top: 1px;}

.thumbnails p {color: #0281a5; margin-left: 2px;}

#secondary {
	clear:both;
	overflow: auto;
	padding: 30px 0px 35px 0px;
}

#secondary .leftcol {
	position: relative;
	float: left;
	width: 480px;
}

#secondary .rightcol {
	position: relative;
	float: right;
	width: 480px;
}

#secondary h2 {
	font-size: 1.6em;
	color: #ea7526;
	-webkit-font-smoothing: antialiased;
}

#secondary p {
	color: #444;
	font-size: 1.15em;
	line-height: 1.475em;
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",serif;
}

.leftcol p {padding: 10px 20px 20px 30px;}
.leftcol h2 {padding: 10px 20px 0px 30px;}

.rightcol p {padding: 10px 30px 20px 20px;}
.rightcol h2 {padding: 10px 30px 0px 20px;}

#secondary img:hover {
	border-color: #888888;
	opacity: 0.9;
}

div.dribbble-shots { float: left; margin-left: 45px; }

.dribbble-shots img {
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	opacity: 1;
}

div.recent-work { float: right; margin-right: 45px; }
.recent-work h2, .dribbble-shots h2 { padding-bottom: 20px; }

.recent-work img {
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	opacity: 0.9;
}



/* Footer
******************************************/

footer {
	clear:both;
	position: relative;
	color: #ffffff;
	margin-top: 20px;
	padding-bottom: 30px;
	padding-right: 30px;
}

footer p {
	float: left;
	color: #aaaaaa;
	font-size: 1.1em;
	margin-left: 20px;
	-webkit-font-smoothing: antialiased;
}

footer ul { float: right; }

footer li {
	display: inline;
	list-style-type: none;
	padding-left: 20px;
	font-size: 1.1em;
}

footer a { text-decoration: none; color: #dddddd; }
footer a:visited {color: #dddddd;}
footer a:hover {color: #ea7526;}
footer a:active {position: relative; top: 1px;}

/* NOSCRIPT*/
#noscript-warning {
	width: 100%;
	text-align: center;
	position:fixed;
	top: 0px;
	padding: 7px;
	color: #ffffff;
	background-color: #b52841;
	z-index: 9999;
}

/*CSS HACKS*/
@-moz-document url-prefix() {
	#icons a:hover, x:-moz-any-link, x:default {
		position:static;
		bottom: 0px;
	}	 
}

html.ie7 #primary {
	padding-bottom: 35px;
}



/* Scrollbar for webkit browsers only
******************************************/

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1024px) {
	html {overflow-y: auto; background-color: transparent;}
    body {overflow-y: scroll; overflow-x: hidden;}
}

::-webkit-scrollbar { width: 8px; height: 10px; }
::-webkit-scrollbar-button:start:decrement { display: block; width: 5px; height: 5px; background-color: transparent; }
::-webkit-scrollbar-button:end:increment { display: block; width: 5px; height: 5px; background-color: transparent; }
::-webkit-scrollbar-track:enabled { background-color: transparent; }
::-webkit-scrollbar-track-piece { background-color: transparent; border: none; margin: 8px 0 8px 0; }
::-webkit-scrollbar-thumb:vertical { height: 30px; background-color: rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.2) }
::-webkit-scrollbar-thumb:horizontal { width: 30px; background-color: rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; }
  


@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

