@charset "UTF-8";
/* CSS Document */

* { margin:0; padding: 0; }

@font-face {
	font-family: 'GothamBoldRegular';
	src: url('gotham-bold-webfont.eot');
	src: local('☺'), url('gotham-bold-webfont.woff') format('woff'), url('gotham-bold-webfont.ttf') format('truetype'), url('gotham-bold-webfont.svg#webfontlDWQKQgv') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 14px/1.4 Helvetica, Arial, sans-serif;	
}
html{
	background: url(../images/bg.jpg) repeat fixed 9px 11px transparent;
}
p {
	margin-bottom:1.4em;
}
a {
	color:#39B54A;
	outline:none;
}
a img {
	border:none;
	outline:none;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
	.clearfix {display:block;}
/* End hide from IE Mac */
#header-wrap {
	background: #000;
	height: 70px;
	position:fixed;
	z-index:200;
	width:100%;
	left:0;
	top:0;
}
#header {
	width: 960px;
	margin: 0 auto;
	height:70px;
	position:relative;
}	
#header #nav {
	list-style:none;
	text-align:center;
	font-size:18px;
}
#header #nav li {
	display:inline;
}
#header #nav li a {
	text-decoration:none;
	color:#FFF;
	line-height:70px;
	text-transform:uppercase;
}
#header #nav li a:hover {
	color:#39b54a;
}
.section {
	padding-top:140px;
	margin-bottom:50px;
}	
#nav #work-link {
	margin-right:100px;
}
#nav #contact-link {
	margin-left:100px;
}	
#nav #about-link {
	margin-right:50px;
}	
#nav #blog-link {
	margin-left:50px;
}
#page-wrap {
	width:960px;
	margin:0 auto;
}

#logo {
	width:110px;
	height:111px;
	position:absolute;
	background: url(../images/logo.png) no-repeat;
	left:425px;
}
#invent {
	width: 873px;
	height:326px;
	text-indent:-7000px;
	margin:0 auto;
	background:url(../images/design-thief.png) no-repeat;
}
#invent1 {
	width: 873px;
	height:326px;
	text-indent:-7000px;
	margin:0 auto;
	background:url(../images/invent.png) no-repeat;
}
.headline {
	font-size:20px;
	text-align:center;
	width: 873px;
	margin:20px auto;
	background: url(../images/fleur.png) no-repeat center bottom;
	padding-bottom:70px;
}	

#hello{
	text-indent:-7000px;
	background: url(../images/hello.png) no-repeat;
	width:912px;
	height:102px;
	margin-bottom:30px;
}
#intro {
	padding-top:150px;
}
#intro p {
	margin-bottom:1.4em;
}
#intro em, #about em {
	font-weight:bold;
	font-style:italic;
	font-size:17px;
}
img.feature {
	float:right;
	margin:0 0 0 20px;
}
#feature-links {
	position:relative;
}
a#btn-work {
	position:absolute;
	left:0px;
	width:138px;
	height:42px;
	background: url(../images/see-my-work.png) no-repeat left top;
	display:block;
	text-indent:-7000px;
	outline:none;
}
a#btn-hire {
	position:absolute;
	left:160px;
	width:138px;
	height:42px;
	background: url(../images/get-in-touch.png) no-repeat left top;
	display:block;
	text-indent:-7000px;
	outline:none;
}
#feature-links a:hover {
	background-position: left bottom;
}

.polaroid {
	margin:-20px 20px 20px 0;
	float:left;
}
#subsec {
	clear:both;
}
#subsec .left {
	float:left;
	width:365px;
}	
#subsec .right {
	float:left;
	width:595px;
}
#love {
	list-style:none;
	margin-top:5px;
}
#love li {
	display:inline;
	margin:5px 13px 0 0;
}
#skills {
	list-style:none;
}
#skills li {
	float:left;
	width:230px;
	font-size:18px;
	padding:0 0 0 30px;
	background: url(../images/cross.png) no-repeat 0 30%;
}
#about h2, #work h2, #contact h2 {
	text-indent:-7000px;
	width:960px;
	height:80px;
	margin-bottom:30px;
}
#about h2 {
	background: url(../images/about-me.png) no-repeat;
}
#work h2 {
	background: url(../images/my-work.png) no-repeat;
}
#contact h2 {
	background: url(../images/say-hello.png) no-repeat;
}

h3 {
	font-family: 'GothamBoldRegular', Helvetica, Arial, San-serif;
	font-weight:normal;
	font-size:30px;
	text-transform:uppercase;
	letter-spacing:-2px;
}


#work ul {
	list-style:none;
}
#work li {
	float:left;
	width:232px;
	height:179px;
	margin: 10px 4px;
	background: url(../images/folio-bg.png) no-repeat;
}
#work li a {
	outline:none;
}
#work li a img {
	padding:12px 19px;
	width:192px;
	height:146px;
	border:none;
}
#films {
	display:block;
	width:375px;
	height:93px;
	background:url(../images/films.png) no-repeat;
	text-indent:-7000px;
	outline:none;
	margin-left:570px;
}
#contact .left {
	float:left;
	width:650px;
}
#contact .right {
	float:right;
	width: 300px;
}

#footer-wrap {
	background:#000;
}	
#footer {
	width:960px;
	margin:0 auto;
	color:#666;
	position:relative;
	height:240px;
}
#footer-logo {
	background:url(../images/footer-logo.png) no-repeat;
	position:absolute;
	width:220px;
	height:36px;
	left:370px;
	top:-60px;
	padding-top:190px;
	padding-left:26px;
}
#footer-logo a {
	float:left;
	display:block;
	width:36px;
	height:36px;
	background: url(../images/footer-social.gif) no-repeat;
}
#footer-logo .feed {
	background-position:0 0;
}	
#footer-logo .linkedin {
	background-position:-36px 0;
}
#footer-logo .facebook {
	background-position:-72px 0;
}
#footer-logo .twitter {
	background-position: -108px 0;
}
#footer-logo .vimeo {
	background-position: -144px 0;
}
#footer-logo .feed:hover {
	background-position:0 -33px;
}	
#footer-logo .linkedin:hover {
	background-position:-36px -33px;
}
#footer-logo .facebook:hover {
	background-position:-72px -33px;
}
#footer-logo .twitter:hover {
	background-position: -108px -33px;
}
#footer-logo .vimeo:hover {
	background-position: -144px -33px;
}
#twitter_div {
	width:300px;
	height:160px;
	background:url(../images/twitter-box.png) no-repeat;
	position:absolute;
	left:0px;
	top:30px;
	color:#FFF;
}
#twitter_div .tweet {
	padding:10px;
	list-style:none;
}
#twitter_div li a {
	display:block;
}
#twitter_div li span a {
	display:inline;
}
#twitter_div .link {
	display:block;
	position:absolute;
	bottom:0;
	right:0;
}
#footer #copy {
	width:300px;
	position:absolute;
	right:0px;
	top:30px;
	font-size:12px;
}
#contact-form input {
	width:400px;
	height:25px;
	background:#FFF;
	border:1px solid #C0C0C0;
	color:#666;
	font-family: 'GothamBoldRegular', Helvetica, Arial, San-serif;
	font-weight:normal;
	font-size:16px;
	margin:0 0 6px;
	padding:0 5px;
}
#contact-form textarea {
	width:400px;
	height:120px;
	background:#FFF;
	border:1px solid #C0C0C0;
	color:#666;
	font-family: 'GothamBoldRegular', Helvetica, Arial, San-serif;
	font-weight:normal;
	font-size:16px;
	margin:0 0 6px;
	padding:5px 5px 0;
}
form .small {
	float:left;
}
form label {
	float:left;
	width:80px;
}
#contact-form #button {
	width:138px;
	height:42px;
	background: url(../images/btn-send.png) no-repeat left top;
	display:block;
	text-indent:-7000px;
	outline:none;
	border: 0 none;
	cursor:pointer;
}
#contact-form #button:hover {
	background-position: left bottom;
	cursor:pointer;
}
#contact-form .row {
	clear:both;
	width:500px;
}
#contact {
	font-size:18px;
}
#contact .right ul {
	list-style:none;
}
#contact .right ul li {
	width:150px;
	font-size:18px;
	padding:0 0 0 30px;
	background: url(../images/cross.png) no-repeat 0 30%;
}
#top a {
	display:block;
	text-align:center;
	text-transform:uppercase;
	clear:both;
	text-decoration:none;
	color:#5F5C5E;
	float:none;
	background:none;
	padding-top:10px;
	width:180px;
}
#top a:hover {
	color:#FFF;
}
#errOffset {
	position:absolute;
	top:-30px;
	left:0;
}