/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE */ 
html { overflow-y: scroll; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }






 /* Primary Styles
    Author: Jérôme Détraz
 */

/* ------------------------------------------------------------
	Body
------------------------------------------------------------ */

body {
	background: url(bg.jpg);
	background-repeat: repeat;
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

#nav_top {
	display: block;
	background-image: url(../images/nav_fleche_top.jpg);
	height: 50px;
	width: 50px;
	border-bottom: 1px solid white;
	background-position: top;
	position: fixed;
	top: 241px;
	right: 0;
	z-index: 200;
	cursor: pointer;
}

#nav_top:hover {
	background-position: bottom;
}

#nav_bottom:hover {
	background-position: top;
}

#nav_bottom {
	display: block;
	background-image: url(../images/nav_fleche_bottom.jpg);
	height: 50px;
	width: 50px;
	background-position: bottom;
	position: fixed;
	top: 292px;
	right: 0;
	z-index: 200;
	cursor: pointer;
}

a.link_website, #navigation a, #slides .text_slider p a {
	-webkit-transition-property: color, background;
	-webkit-transition-duration: 0.1s, 0.1s;
	-webkit-transition-timing-function: ease-in, ease-in;
	-o-transition-property: color, background;
	-o-transition-duration: 0.1s, 0.1s;
	-o-transition-timing-function: ease-in, ease-in;
	-moz-transition-property: color, background;
	-moz-transition-duration: 0.1s, 0.1s;
	-moz-transition-timing-function: ease-in, ease-in;
}

/* ------------------------------------------------------------
	Top
------------------------------------------------------------ */

#top {
	background: url(../images/top_dash.jpg);
	height: 13px;
	background-repeat: repeat-x;
}

/* ------------------------------------------------------------
	Header
------------------------------------------------------------ */

header {
	margin-top: 22px;
	border-bottom: 1px solid #212121;
	padding-bottom: 17px;
	position: relative;
	color: #232323;
}

header p {
	position: absolute;
	font-size: 40px;
	bottom: 35px;
	left: 150px;
	text-transform: uppercase;
	font-family: 'PlakComBlackExtraCondensed';
	font-weight: lighter;
	letter-spacing: 0.05em;
}

header h1 {
	position: absolute;
	bottom: 20px;
	font-size: 13px;
	font-weight: bold;
	left: 150px;
	
}

#network {
	position: absolute;
	top: 0;
	right: 0;
}

#network li {
	float: left;
	list-style: none;
	margin-left: 7px;
}

#network #forrst {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/forrst.png);
	height: 51px;width: 51px;
	background-position: bottom;
}

#network #pinterest {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/pinterest.png);
	height: 51px;width: 51px;
	background-position: bottom;
}

#network #dribbble {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/dribbble.png);
	height: 51px;width: 51px;
	background-position: bottom;
}

#network #twitter {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/twitter.png);
	height: 51px;width: 51px;
	background-position: bottom;
}

#network #facebook {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/facebook.png);
	height: 51px;width: 51px;
	background-position: bottom;
}

#network #linkedin {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/linkedin.png);
	height: 51px;width: 51px;
	background-position: bottom;
} 

#network #behance {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/behance.png);
	height: 51px;width: 51px;
	background-position: bottom;
} 

#network #flickr {
	display: block;
	text-decoration: none;
	background-image: url(../images/network/flickr.png);
	height: 51px;width: 51px;
	background-position: bottom;
} 

#network #forrst:hover, #network #twitter:hover, #network #facebook:hover, #network #linkedin:hover, #network #behance:hover, #network #flickr:hover, #network #dribbble:hover, #network #pinterest:hover {
	background-position: top;
}

#navigation {
	position: absolute;
	bottom: 0;
	right: 0;
}

#navigation li {
	float: left;
	list-style: none;
	margin-left: 22px;
}

#navigation a {
	display: block;
	text-decoration: none;
	color: #232323;
	font-size: 13px;
	padding: 9px 9px 6px 9px;
}

#navigation a.active {
	background-color: #b2d5c1;	
	font-weight: bold;
}

#navigation a:hover {
	background-color: #b2d5c1;	
}

/* ------------------------------------------------------------
	Main
------------------------------------------------------------ */

#main {
	border-top: 7px solid #212121;
	margin-top: 5px;
	position: relative;
	padding-top:44px;
}

/* ------------------------------------------------------------
	Slide Top
------------------------------------------------------------ */

#slides {
	margin-bottom: 24px;
	position: relative;
}

#slides .text_slider {
	width: 240px;
	background-color: #72676f;
	position: absolute;
	padding: 31px 80px 31px 31px;
	right: 0;
	top: 0;
	height: 489px;
}

#slides em {
	text-decoration: underline;
	font-style: normal;
}

#slides .text_slider h1 {
	text-transform: uppercase;
	font-family: 'PlakComBlackExtraCondensed';
	color: white;
	letter-spacing: 0.04em;
	font-weight: lighter;
	font-size: 72px;
	background-image: url(../images/carre_title.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 36px;
	line-height: 0.8em;
}

#slides .text_slider p {
	color: white;
	font-size: 14px;
	margin-top: 14px;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
	line-height: 1.4em;
	font-weight: normal;
}

#slides .text_slider p span {
	font-size: 12px;
}

#slides .reconnaissance p span {
	margin-bottom: 5px;
	display: inline-block;
}

#slides .text_slider p a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dashed white;
}

#slides .text_slider p a:hover {
	color: #b2d5c1;
	border-bottom: 1px dashed #b2d5c1;
}

#slides .slide {
	width:950px;
	height: 541px;	
}

#slides .next,#slides .prev {
	position:absolute;
	top:30%;
	width:62px;
	height:222px;
	display:block;
	z-index:108;
}

#slides .prev {
	background-image: url(../images/arrow-prev.png);
	background-position: top;	
}

#slides .next {
	background-image: url(../images/arrow-next.png);
	background-position: top;
}

#slides .next:hover,#slides .prev:hover {
	background-position: bottom;
}

.slides_container {
	width:950px;
	height: 541px;	
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:888px;
}

#slides .pagination {
	position: absolute;
	top: 0;
	left: 0;
}

#slides .pagination li {
	position: absolute;
	visibility: hidden;
	z-index: 110;
	top: -40px;
	list-style: none;
	left: 90px;
}

#slides .pagination a {
	text-decoration: none;
	color: white;
	font-family: 'PlakComBlackExtraCondensed';
	letter-spacing: 0.05em;
	font-weight: lighter;
	font-size: 420px;
	cursor: default;
}

#slides .pagination .barre {
	position: absolute;
	top: -10px;
	left: 140px;
	font-size: 550px;
}

#slides .pagination .numero_2 {
	position: absolute;
	top: 120px;
	left: 260px;
}

#slides .pagination li.current {
	visibility: visible;
}

.little_push {
	display: inline-block;
	margin-bottom: 5px;
}


/* ------------------------------------------------------------
	Slide Projects
------------------------------------------------------------ */

.focus_project .slides_two {
	margin-bottom: 0;
	position: relative;
	margin-top: 110px;
	width: 590px !important;
}

.focus_project .slides_two .slide {
	width: 590px !important;
	height: 489px;	
}

.focus_project .slides_two .next,.focus_project .slides_two .prev {
	position:absolute;
	width:52px;
	height:180px;
	display:block;
	z-index:108;
	top:30%;
}

.focus_project .slides_two .prev {
	background-image: url(../images/arrow-prev2.png);
	background-position: top;	
}

.focus_project .slides_two .next {
	background-image: url(../images/arrow-next2.png);
	background-position: top;
}

.focus_project .slides_two .next:hover,.focus_project .slides_two .prev:hover {
	background-position: bottom;
}

.focus_project .slides_two .slides_container {
	width:590px;
	height: 489px;	
	overflow:hidden;
	position:relative;
}

.focus_project .slides_two .next {
	left:898px;
}

.focus_project .pagination {
	position: absolute;
	list-style: none;
	right: 290px;
	z-index: 200;
	bottom: -10px;
}

.focus_project .pagination li a {
	display: block;
	height: 11px;
	width: 11px;
	text-decoration: none;
	font-size: 2px;
	color: #1f1f1d;
}

.focus_project .pagination li {
	display: block;
	height: 11px;
	width: 11px;
	background-color: #1f1f1d;
	float: left;
	margin-right: 6px;
}

.focus_project .pagination li.current {
	background-color: #b2d5c1;
}

.focus_project .pagination li.current a {
	color: #b2d5c1;
}

/* ------------------------------------------------------------
	Focus Project
------------------------------------------------------------ */

.focus_project {
	background-image: url(../images/focus_project_bg.jpg);
	background-repeat: repeat-x;
	height: 675px;
	position: relative;
	display: none;
}

.description_project {
	width: 350px;
	position: absolute;
	top: 110px;
	right: 0;
}

.description_project h1 {
	font-size: 36px;
	font-family: 'PlakComBlackExtraCondensed';
	letter-spacing: 0.06em;
	font-weight: lighter;
	border-bottom: 4px solid #1f1f1d;
	line-height: 1em;
	color: #1f1f1d;
	margin-bottom: 21px;
}

.description_project p {
	color: #3c3c3c;
	font-size: 13px;
	line-height: 1.4em;
	width: 350px;
}

.description_project p.full {
	width: 790px;
}

.description_project p.date_projet { 
	width: 350px;
	margin-left: 0;
	font-weight: bold;
	display: inline-block;
}

.description_project p.date_projet span {
	border-top: 1px solid #1f1f1d;
	width: 350px;
	display: inline-block;
	font-weight: lighter;
	font-style: italic;
	margin-top: 2px;
	padding-top: 3px;
	margin-bottom: 18px;
}

.description_project p a {
	text-decoration: none;
	color: #373737;
	border-bottom: 1px dashed #373737;
}

.description_project p a:hover {
	color: #B2D5C1;
	border-bottom: 1px dashed #B2D5C1;
}

#slides .link_website {
	color: white;
	font-size: 26px;
	font-family: 'PlakComBlackExtraCondensed';
	letter-spacing: 0.05em;
	font-weight: lighter;
	border: 1px solid #fff;
	text-decoration: none;
	padding: 6px 9px 2px 9px;
	display: inline-block;
	margin-top: 35px;
	text-align: center;
}

.description_project .link_website {
	font-size: 26px;
	font-family: 'PlakComBlackExtraCondensed';
	letter-spacing: 0.05em;
	font-weight: lighter;
	color: #373737 !important;
	border: 1px solid #373737 !important;
	text-decoration: none;
	padding: 6px 9px 2px 9px;
	display: inline-block;
	margin-top: 35px;
	text-align: center;
}

.description_project .link_website:hover, #slides .link_website:hover {
	background-color: #B2D5C1;
	color: white !important;
	border: 1px solid white !important;
}

.close_project {
	display: block;
	position: absolute;
	z-index: 110;
	right: 0;
	top: 39px;
	height: 40px;
	width: 40px;
	background-position: bottom;
	background-image: url(../images/close_project.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
}

.close_project:hover {
	background-position: top;
}

/* ------------------------------------------------------------
	Project
------------------------------------------------------------ */

#project {
	margin-top: 24px;
	border-top: 3px solid #b2d5c1;
	background-color: white;
	padding: 61px 0 19px 0;
}

#project h1 {
	font-family: 'PlakComBlackExtraCondensed';
	font-size: 72px;
	font-weight: lighter;
	border-bottom: 12px solid #b2d5c1;
	color: #1f1f1d;
	letter-spacing: 0.04em;
	margin-bottom: 49px;
	line-height: 1.02em;
	margin-left: 0;
}

#select_project {
	margin-left: 0;
}

#select_project a {
	text-decoration: none;
	margin-left: 0;
	height: 300px;
	border-bottom: 1px solid #1f1f1d;
	position: relative;
	text-align: center;
	font-size: 12px;
	color: #1f1f1d;
	margin-right: 30px;
	margin-bottom: 66px;
}

#select_project a p {
	margin-top: 7px;
	line-height: 1.5em;
}

#select_project a span {
	font-size: 14px;
	font-weight: bold;
}

#select_project a.third {
	margin-right: 0;
}

#select_project a:hover, #select_project a.active {
	background-image: url(../images/projects/bg_hover.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	color: #1f1f1d;
}

#select_project a .new {
	background-image: url(../images/projects/new.png);
	height: 54px;
	width: 54px;
	position: absolute;
	top: -18px;
	left: -18px;
}

/* ------------------------------------------------------------
	Skills
------------------------------------------------------------ */

#skills {
	padding: 46px 0 20px 0;
	background-color: #323232;
	border-bottom: 3px solid #b2d5c1;
	border-top: 3px solid #b2d5c1;
	margin-bottom: 35px;
	position: relative;
}

#skills #carre {
	height: 16px;
	width: 16px;
	background-color: #b2d5c1;
	margin-bottom: 4px;
}

#skills h1 {
	font-family: 'PlakComBlackExtraCondensed';
	font-size: 36px;
	color: #fff;
	letter-spacing: 0.06em;
	border-bottom: 4px solid #b2d5c1;
	font-weight: lighter;
	margin-left: 0;
}

#skills ul {
	margin-top: 41px;
	margin-bottom: 80px;
}

#skills ul li {
	color: white;
	list-style: none;
	font-size: 14px;
	margin-bottom: 4px;
}

#skills p {
	font-size: 11px;
	color: #b2d5c1;
}

#skills span {
	color: #b2d5c1;
	font-size: 11px;
}

#img_skills {
	height: 199px;
	width: 262px;
	background-image: url(../images/skills.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	right: 80px;
}

/* ------------------------------------------------------------
	References
------------------------------------------------------------ */

#references {
	margin-bottom: 40px;
}

#references p {
	font-size: 11px;
	color: #545454;
	margin-left: 0;
	margin-top: 42px;
}

#references ul {
	margin-left: 0;
}

#references ul li {
	float: left;
	margin-right: 40px;
	list-style-type: none;
}

/* ------------------------------------------------------------
	Footer
------------------------------------------------------------ */

footer {
	border-top: 1px solid #212121;
	position: relative;
	padding-top: 5px;
	height: 167px;
}

footer #border_7px {
	border-top: 7px solid #212121;
	margin-bottom: 26px;
}

footer p {
	color: #727272;
	font-size: 11px;
}

footer a#go_top_bt {
	background-image: url(../images/top.jpg);
	background-repeat: no-repeat;
	height: 132px;
	width: 109px;
	display: block;
	position: absolute;
	right: 41px;
	bottom: 0;
}

/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */ 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


#awwwards{
		position:absolute;
		top:20px;
		right:0px;
		z-index:555;
}
#awwwards a{
		width:69px;
		height:105px;
		text-indent:-8000px;
		display:block;
		background:url(../images/award_day_black.png) no-repeat;
}

#awwwards_nominee {
position:absolute;
top:0px;
right:0px;
z-index:555;
width:69px;
height:105px;
text-indent:-8000px;
display:block;
background:url(../images/awwwards_nominee_g_right.png) no-repeat;
overflow:hidden;
}




